@import url( 'reset.css' ) ;


#themes {
  visibility : collapse ;
  height : 0 ;
}


/* For a true sticky footer:
    http://www.lwis.net/journal/2008/02/08/pure-css-sticky-footer
    http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
*/
#console {
  display : none ;
  height : 0 ;
}

.void {
  font-size : 1pt ;
  line-height : 0.001 ;
}




/********
  Board
*********/

#board {
  vertical-align : top ;
  width : 40em ;
  margin-left : 1em ;
  margin-right : 1em ;
}

#board > table.equivalence-list {
  font-size : 60% ;
}

#board > table {
  width : 100% ;
  align : center ;
}

#board > table tr {
  font-size : 170% ;
  font-style : italic ;
}

#board > table tr:first-child {
  font-size : 200% ;
  font-style : normal ;
}

#board > table td {
  text-align : left ;
  font-weight : bold ;
  width : 50% ;
}

#board > table td:first-child {
  text-align : right ;
  font-weight : normal ;
}





