@import url( 'screen.css' ) ;

body * {
  font-size : 12pt ;
  font-family : Palatino Linotype, Book Antiqua, Palatino, serif ;
}

#theme-choice, #toolbar {
  display : none ;
}

#board > table {

  /* Bad news: only Opera seems to support it.
      http://www.westciv.com/style_master/academy/browser_support/printing.html
  */
  page-break-inside : avoid ;

}

.void {
  margin-top : -4pt ;
  border-bottom : 0.1pt solid #efefef ;
}
