@import url( 'general.css' ) ;

body {
  background : #dddddd ;
  width : 100% ;
  display : table ;
}

#toolbar {
  margin-left : auto ;
  margin-right : auto ;
  width : 100% ;
  margin-top : 1em ;
  margin-bottom : 1em ;
}

#toolbar * {
  font-size : 120% ;
  margin-left : 1em ;
}


#theme-choice {
  float : left ;
  background : #cccccc ;
}

#theme-choice p {
  margin : 0.3em ;
}

#board table {
  margin-left : auto ;
  margin-right : auto ;
}

#board table tr {
  font-size : 170% ;
  font-style : italic ;
}

#board table tr:first-child {
  font-size : 200% ;
  font-style : normal ;
}

#board table td {
  text-align : left ;
  font-weight : bold ;
  width : 50% ;
  padding : 0.2em 1em 0.2em 1em ;
}

#board table td:first-child {
  text-align : right ;
  font-weight : normal ;
}



