@import url( 'general.css' ) ;

body {
  background : #dddddd ;
  width : 100% ;
  display : table ;
}

#toolbar {
  margin-left : auto ;
  margin-right : auto ;
  height : 2em ;
  width : 100% ;
}


#theme-choice {
  float : left ;
  background : #cccccc ;
}

#board {
}

#board table {
  width : 100% ;
}

#board table  {
  font-style : italic ;
}
