
@import url( 'screen-basic.css' ) ;

.no-selection {
  -webkit-touch-callout : none ;
  -webkit-user-select : none ;
  -khtml-user-select : none ;
  -moz-user-select : none ;
  -ms-user-select : none ;
  user-select : none ;
}

#container {
  position : relative ;
}

#top {
  min-width : 50em ;
  margin-top : 1em ;
  margin-bottom : 1em ;
  margin-left : 1em ;
}

#top * {
  font-size : 110% ;
}

#top *.widget {
  margin-left : 1em ;
}

#action-performing {
  float : left ;
}

#tags {
  display : inline-block ;
  background : #cccccc ;
  float : left ;
  line-height : 1.5 ;
  padding : 0.1em 0.4em 0.1em 0.1em ;
}


#tags p {
  margin : 0.3em ;
}

#tags em {
  font-style : italic ;
}

#card-location {
  position : fixed ;
  bottom : 0.6em ;
  right : 0.6em ;
  font-size : 100% ;
  text-align : right ;
  line-height : 1.4 ;
}

#card-location > code {
  font-family : Courier New, Courier New, monospace ;
  margin-bottom : 0.3em ;
}

#card-location > span, #card-location > em {
  color : #555555 ;
  font-size : 80% ;
  padding : 0.1em 0.3em ;
  margin-left : 0.4em ;
}

#card-location > em {
  font-style : italic ;
  margin : 0.2em ;
  border : 1px none ;
}

#card-location > span {
  border : 1px solid grey ;
  border-radius : 0.3em ;
}


/********
  Board
*********/


#board {
  display : block ;
  vertical-align : top ;
  width : 40em ;
  margin-left : auto ;
  margin-right : auto ;
}

#board > table.card-list {
  background : #eeeeee ;
}

#board > table {
  margin-bottom : 1em ;

}

#board > table tr {
  /* Inherit. */
}

#board > table tr:first-child {
  /* Inherit. */
}

#board > table td {
  padding : 0.2em 1em 0.2em 1em ;
  margin : 0.2em 1em 0.2em 1em ;
  border-bottom : solid 2px #dddddd ;
}

#board > table span {
  line-height : 1.1 ;
}

#board > table.card-list > tbody > tr {
  border : none ;
}

#board > table.card-list > tbody > tr > td {
  border : none ;
}


#board > table td:first-child {
  /* Inherit. */
}


td.undisclosed {
  background : #cccccc ;
  border-bottom : solid 2px #dddddd ;
  /* visibility : collapse ; Bad: causes the cell itself to not appear. */
}

td.undisclosed > span {
  visibility : hidden ;
}

.empty {
  text-align : center ;
  color : #999999 ;
}


/***********
  Problems
************/


#problems {
  margin-left : 1em ;
  padding-bottom : 1em ; /* Vertical margins mess up the Collapse plugin. */
}

#problems > h2, #problems > h2 > a {
  font-weight : bold ;
  text-decoration : none ;
  color : #cc0000 ;
}

#problems > h2 :hover {
  color : #ff1111 ;
}

/* Need the div for collapsing. */
#problems > div > p {
  margin : 0.5em ;
  font-size : 80% ;
}

#problems > div > p > code {
  font-weight : bold ;
  font-family : Courier New, Courier New, monospace ;
}




/********
  Other
*********/

.report-header {
  height : 1em ;
  ligne-height : 1 ;
  margin-top : -1.5em ;
  margin-bottom : 0 ;
  text-align : right ;
  font-size : 70% ;
}

.report-header {
  margin-bottom : 0.5em ;
}

.print-only {
  display : none ;
}

#disclose {
  font-weight : bold ;
}

#about > a:link, #about > a:hover, #about > a:active, #about > a:visited  {
  display : inline-block ;
  height : 1em ;
  width : 1em ;
  border : solid #eeeeee 0.15em ;
  border-radius : 2em ;
  padding : 0.1em ;
  font-size : 120% ;
  font-family : Verdana, Geneva, DejaVu Sans, sans-serif ;
  font-weight : bold ;
  text-align : center ;
  line-height : 0.98 ;
  color : #999999 ;
  text-decoration : none ;
}

#about > a:hover {
  border : solid #ffffff 0.15em ;
  color : #666 ;
}

