@import url( 'general.css' ) ;

body * {
  font-size : 12pt ;
  font-family : Palatino Linotype, Book Antiqua, Palatino, serif ;
}

#tags, #card-location, #top {
  display : none ;
}

.void {
  height : 6pt ; /* Defines space between two tables. */
}


#tags {
  visibility : collapse ;
  height : 0 ;
}



/********
  Board
*********/


#board {
  display : block ;
}

#board > table.equivalence-list {
  /* Inherit. */
}


#board > table {

  /* Bad news: only Opera seems to support it.
      http://www.westciv.com/style_master/academy/browser_support/printing.html
  */
  page-break-inside : avoid ;

  border-bottom : 1pt solid #efefef ;
  margin-bottom : 0 ;
}

#board > table tr {
  /* Inherit. */
}

#board > table tr:first-child {
  /* Inherit. */
}

#board > table td {
  padding : 2pt 6pt 2pt 6pt ;
}

#board > table td:first-child {
  /* Inherit. */
}

#board > table tr:last-child > td {
  padding-bottom : 6pt ; /* Defines space between last table row and bottom border. */
}

